&__contact {
    &__social {
        min-height: 100%;
        flex: .6;
        background-color: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 200px;

        a {
            margin: $base-pm * 2 0;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    @include transition_come-in($i);
                }
            }
        }

        &__item {
            padding: $base-pm $base-pm * 2;
            min-width: 200px;
            background-color: darken(#fff, 5%);
            text-align: center;

            svg { width: 22px; }
        }
    }

    &__form {
        flex: 2;
        height: 100%;
        width: 100%;
        align-self: center;
        animation: fadeIn;
        animation-duration: .4s;
        animation-delay: .1s;
        animation-fill-mode: both;
        opacity: 1;

        form {
            padding: $base-pm * 4;
            width: 100%;
        }

        &__send-button {
            background-color: #303a45;
            padding: $base-pm $base-pm * 2;
            border-radius: 4px;
            color: #f1f1f1;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 300;
            align-self: flex-start;
            min-width: 150px;

            svg { width: 17px; }

            &[disabled] {
                background-color: #b0bec5;
                cursor: not-allowed;
                color: #fff;
            }
        }

        &__row {
            position: relative;
            margin: $base-pm * 2 0;
            max-width: 700px;
            width: 100%;

            label {
                width: 100%;
                max-width: 20em;
                position: absolute;
                top: 8px;
                cursor: text;
                transition: top .2s, transform .2s, color .2s;
            }

            input, textarea {
                flex-grow: 1;
                display: inline;
                margin: 0;
                border: none;
                padding: .5em 0;
                line-height: 1;
                outline: none;
                background-color: transparent;
                width: 100%;
                font-size: .95em;
            }

            textarea {
                resize: vertical;
                height: auto;
                max-height: 250px;
            }

            .line {
                width: 100%;
                height: 2px;
                stroke: $input-color;
                stroke-width: 2px;
            }

            .line .focus,
            .line .valid,
            .line .error {
                transition: all 0.25s;
                stroke-dasharray: 0, 20;
                stroke-dashoffset: -20;
            }

            .line .focus { stroke: $input-color-focus; }

            .line .valid,
            .validation.valid {
                stroke: $input-color-valid;
                color: $input-color-valid;
            }

            .line .error,
            .validation.error {
                stroke: $input-color-error;
                color: $input-color-error;
            }
            .table {
                  display: grid;
                  grid-template-columns: [col-start] auto [col-end];
                  grid-template-rows: [header-start] 50px [header-end row-start] auto [row-end];
                  grid-auto-rows: auto;
                  grid-auto-columns: auto;
                  grid-gap: 1px;
                  overflow: hidden;
                  background: gray;
                }

                .table>* {
                  padding: 10px;
                  position: relative;
                }

                .heading {
                  background: navy;
                  color: #fff;
                  grid-row: header;
                }

                .row span {
                  position: relative;
                  z-index: 2;
                }

                .row:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: -1000%;
                  left: -1000%;
                  z-index: 1;
                }

                .row:after {
                  content: "";
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: -1px;
                  width: 1px;
                  z-index: 2;
                  background-color: #fff;
                }

                .row:nth-child(5n+5)::after {
                  bottom: -1px;
                  right: 0;
                  left: -1000%;
                  height: 1px;
                  z-index: 3;
                  width: auto;
                  top: auto;
                  background-color: #fff;
                }

                .row:hover::before {
                  background-color: red;
                }
            .wrapper {
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  grid-gap: 2%;
                  grid-auto-rows: minmax(100px, auto);
                }
                .one {
                  grid-column: 1 ;
                  grid-row: 1;
                }
                .two {
                  grid-column: 2;
                  grid-row: 1;
                }
                .three {
                  grid-column: 2;
                  grid-row: 2;
                }
                .four {
                  grid-column: 3;
                  grid-row: 3;
                }
                .five {
                  grid-column: 1;
                  grid-row: 3;
                }
                .six {
                  grid-column: 2;
                  grid-row: 3;
                }

            input:focus ~ .line .focus,
            input.valid ~ .line .valid,
            input.error ~ .line .error,
            textarea:focus ~ .line .focus,
            textarea.valid ~ .line .valid,
            textarea.error ~ .line .error {
                stroke-dasharray: 40, 0;
                stroke-dashoffset: 0;
            }

            input:focus~label,
            textarea:focus~label,
            label.has-content {
                top: -16px;
                transform: scale(0.8) translateX(-40px);
                color: $input-color;
            }
        }
    }
}
